.env
.cursor
.DS_Store
.idea
.vscode
venv
venv39
.pytest_cache
__pycache__

data_xml_query_modified

## node
node_modules/

## python - 임시로 Python 파일 변경사항 무시
python/process.py
python/services/xml_processor.py